<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users Posts</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <div class="Detail-container">
        <h2>Here Is Post details</h2> <br>
        <p>Post id: <%= post.id %></p>
        <p>Posted on: <%= post.createdAt.toLocaleString() %></p>
        <br><br>
        <div class="post-detail">
            <div class="user-detail">
                <h3 class="user">
                    @<%= post.username %>
                </h3>
            </div>
            <div class="user-content">
                <h4 class="content">
                    <%= post.content %>
                </h4>
            </div>
        </div>
    </div>
</body>

</html>